<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%= link_to "#{t("web-app-theme.list", :default => "List")}", entleihers_path%></li>
      <% if can? :manage, @entleihers%>
        <li><%= link_to "#{t("web-app-theme.new")}", new_entleiher_path%></li>
      <% end %>
    </ul>
  </div>          
  <div class="content">          
    <h2 class="title"><%= t "models.entleihers.all" %></h2>

      <div class="inner">
        <table class="table">
          <tr>             
            <th class="first">Name</th>
            <th>Email</th>
            <th>Matrikelnummer</th>
            <th class="last">&nbsp;</th>
          </tr>
          <% @entleihers.each do |entleiher| -%>
          <tr class="<%= cycle("odd", "even") %>">
            <td class="first"><%= entleiher.name %></td>
            <td><%= entleiher.email %></td>
            <td><%= entleiher.matrikelnr %></td>
              
            <td class="last">
              <%= link_to "#{t("web-app-theme.show", :default => "Show")}", entleiher_path(entleiher) %> <br>
              <% if can? :update, entleiher %>
                <%= link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_entleiher_path(entleiher) %> <br>
              <% end %>
              <% if can? :destroy, entleiher %>
                <%= link_to "#{t("web-app-theme.delete", :default => "Delete")}", entleiher_path(entleiher), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
              <% end %>
            </td>
          </tr>          
          <% end -%>
        </table>
        <div class="actions-bar wat-cf">
          <div class="actions">
          </div>
          
          <%= will_paginate @entleiher%>
          
        </div>
      </div>
    
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar_search', :locals => {:search => @search}) -%>
