<%= form_for(@lending) do |f| %>
  <% if @lending.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lending.errors.count, "error") %> prohibited this lending from being saved:</h2>

      <ul>
      <% @lending.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :leihende %><br />
    <%= f.date_select :leihende %>
  </div>
  
  <div class="field">
    <h4>Buch:</h4>
    <%= @lending.buch.titel %>
    <%= f.hidden_field :buch_id %>
  </div>
  <div class="field">
    <%= f.label :entleiher_id %><br />
    <%= collection_select(:lending,:entleiher_id,Entleiher.all,:id,:name) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
