<h1>Verleihvorg채nge</h1>

<table>
  <tr>
    <th>Leihende</th>
    <th>Entleiher</th>
    <th>Buch</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @lendings.each do |lending| %>
  <tr<%= if lending.overdue? then " class='overdue'" elsif lending.returned?then " class='returned'" end%>>
    <td><%= lending.leihende %></td>
    <td><%= link_to lending.entleiher.name, lending.entleiher%></td>
    <td><%= lending.buch.titel %></td>
    <td><%= link_to "Zur체ckgeben", return_lending_path(lending), :method => :post %> </td>
    <td><%= link_to 'Show', lending %></td>
    <td><%= link_to 'Edit', edit_lending_path(lending) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Zur체ck zu den B체chern', buches_path %>
