<div class="block notice">
  <h3>Interne Daten</h3>
  <div class="content">
    <h4>Kommentar</h4>
    <p><%= @buch.kommentar %></p>
    <h4>Interne Notizen</h4>
    <p><%= @buch.interne_notizen %></p>
  </div>
</div>

<% if @buch.entliehen? then %>
  <div class="block notice">
    <h3>Verleihdaten</h3>
    <div class="content">  
    <h4>Entleiher</h4>
    <p><%= link_to @buch.current_lending.entleiher.name, @buch.current_lending.entleiher %></p>
    <h4>Entliehen bis</h4>
    <p><%= @buch.current_lending.leihende %></p>
    <div class="group nav wat-cf">
      <button class="button">
        <%=link_to "Buch zurückgeben", return_lending_path(@buch.current_lending), :method => :post %>
      </button>
    </div>
  </div>
<% end %>
<% if @lending then%>
  <div class="block notice">
    <h3>Verleihen</h3>
    <div class="content">  
      <%= simple_form_for @lending, :html => {:class => "form"} do |f| %>
        <div class="group">
          <%= f.label :leihende, :class => "label"%>      
          <%= f.date_select :leihende %>
        </div>
        <div class="group">
          <%= f.association :entleiher, :collection => Entleiher.all(:order => :name),:label_html => { :class => 'label' }%>
        </div>
        <%= f.hidden_field :buch_id %>
        <div class="group navform wat-cf"> 
          <button class="button" type="submit">Verleihen</button> 
        </div>
      <% end %>
    </div>
  </div>
<% end %>

