<table class="table">
  <tr><td><b>Signatur</b></td><td><%= f.input :signatur, :label => false, :input_html => {:class => "text_field"} %></td>
      <td><b>Nebensignatur<br />Bandzählung</b></td><td><%=f.input :nebensignatur, :label => false, :input_html => {:class => "text_field"}%></td>
      <td><b>Stifter</b></td><td><%= f.input :stifter, :label => false, :input_html => {:class => "text_field"} %></td>
  </tr>
  <tr><td rowspan="2"><b>Autor</b></td>
      <td colspan="3"><%= f.input :autor, :label => false, :input_html => {:class => "text_field"} %></td>
      <td><b>Standort</b></td>
      <td><%= f.input :standort, :label => false, :input_html => {:class => "text_field"} %></td>
  </tr>
  <tr>
    <td colspan="3"><%= f.input :autor_japanisch, :label => false, :input_html => {:class => "text_field"} %></td>
    <td><b>Publikationsart</b></td>
    <td><%= f.input :publikationsart, :label => false, :input_html => {:class => "text_field"} %></td>
  </tr>
  <tr>
    <td rowspan="2"><b>Weitere Autoren</b></td>
    <td colspan="5"><%= f.input :hrsg, :label => false, :input_html => {:class => "text_field"}%></td>
  </tr> 
  <tr>
    <td colspan="5"><%= f.input :hrsg_japanisch, :label => false, :input_html => {:class => "text_field"} %></td>
  </tr>
  <tr>
    <td rowspan="2"><b>Titel</b></td>
    <td colspan="5"><%= f.input :titel, :label => false, :input_html => {:class => "text_field"} %></td>
  </tr>
  <tr>
    <td colspan="5"><%= f.input :titel_japanisch, :label => false, :input_html => {:class => "text_field"} %></td>
  </td>
  <tr>
    <td><b>Verlag</b></td>
    <td colspan="3"><%= f.input :verlag, :label => false, :input_html => {:class => "text_field"} %></td>
    <td colspan="2"><%= f.input :verlag_japanisch, :label => false, :input_html => {:class => "text_field"} %></td>
  </tr>
  <tr>
    <td><b>Ort</b></td>
    <td><%= f.input :ort, :label => false, :input_html => {:class => "text_field"} %></td>
    <td><b>Seiten</b></td>
    <td><%= f.input :seiten, :label => false, :input_html => {:class => "text_field"} %></td>
    <td><b>Format</b></td>
    <td><%= f.input :format, :label => false, :input_html => {:class => "text_field"} %></td>
  </tr>
  <tr>
    <td><b>Jahr</b></td>
    <td><%= f.input :jahr, :label => false, :input_html => {:class => "text_field"} %></td>
    <td><b>Auflage</b></td>
    <td><%= f.input :auflage, :label => false, :input_html => {:class => "text_field"} %></td>
    <td><b>Bände</b></td>
    <td><%= f.input :baende, :label => false, :input_html => {:class => "text_field"} %></td>
  </tr>
  <tr>
    <td><b>ISBN</b></td>
    <td colspan="2"><%=f.input :isbn, :label => false, :input_html => {:class => "text_field"} %></td>
    <td><b>ISSN</b></td>
    <td colspan="2"><%=f.input :issn, :label => false, :input_html => {:class => "text_field"} %></td>
  </tr>
  <tr>
    <td rowspan="2"><b>Reihe</b></td>
    <td colspan="5"><%= f.input :reihe, :label => false, :input_html => {:class => "text_field"} %></td>
  </tr>
  <tr>
    <td colspan="5"><%= f.input :reihe_japanisch, :label => false, :input_html => {:class => "text_field"} %></td>
  </tr>
  <tr>
    <td><b>Inhalt</b></td>
    <td colspan="5"><%= f.input :inhalt, :label => false, :input_html => {:class => "text_area", :rows => 20} %></td>
  </tr>
  <tr>
    <td><b>Anmerkungen</b></td>
    <td colspan="5"><%= f.input :anmerkungen, :label => false, :input_html => {:class => "text_area", :rows => 20} %></td>
  </tr>
  <tr> 
    <td><b>Nacsis-URL</b></td>
    <td colspan="5"><%=f.input :nacsis_url, :label => false, :input_html => {:class => "text_field"} %></td>
  </tr>
  <tr>
    <td><b>Nacsis-Eintrag</b></td>
    <td colspan="5"><%= f.text_area :nacsis_japanisch, :label => false, :class => "text_area", :rows => 20 %></td>
  </tr>
  <tr>
    <td><b>Sprache</b></td>
    <td><%= f.input :sprache, :label => false, :input_html => {:class => "text_field"} %></td>
    <td><b>Preis</b></td>
    <td><%= f.input :preis, :label => false, :input_html => {:class => "text_field"} %></td>
    <td><b>Inventarnummer</b></td>
    <td><%= f.input :invent, :label => false, :input_html => {:class => "text_field"}%></td>
  </tr>
  <tr>
    <td><b>Bearbeiter</b></td>
    <td colspan="3"><%= f.input :bearbeiter, :label => false, :input_html => {:class => "text_field"} %></td>
  </tr>
</table>
<div class="group navform wat-cf">
  <button class="button" type="submit">
    <%= image_tag("web-app-theme/icons/tick.png", :alt => "#{t("web-app-theme.save", :default => "Save")}") %> <%= t("web-app-theme.save", :default => "Save") %>
  </button>  
  <%= link_to image_tag("web-app-theme/icons/cross.png", :alt => "#{t("web-app-theme.cancel", :default => "Cancel")}") + " " + t("web-app-theme.cancel", :default => "Cancel"), buches_path, :class => "button" %> 
</div>
