<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "#{t("web-app-theme.list", :default => "List")}", buches_path  %></li>
      <% if can? :create, Buch %>
        <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_buch_path %></li>
      <% end %>
      <li class="active"><%= link_to "#{t("web-app-theme.show", :default => "Show")}", buch_path %></li>
    </ul>
  </div>          
  <div class="content">
    <div class="inner">
      <table class="table">
        <tr><td><b>Signatur</b></td><td><%= @buch.signatur %></td>
            <td><b>Nebensignatur<br />Bandzählung</b></td><td><%=@buch.nebensignatur%></td>
            <td><b>Stifter</b></td><td><%= @buch.stifter %></td>
        </tr>
        <tr><td rowspan="2"><b>Autor</b></td>
            <td colspan="3"><%= @buch.autor %></td>
            <td><b>Standort</b></td>
            <td><%= @buch.standort %></td>
        </tr>
        <tr>
          <td colspan="3"><%= @buch.autor_japanisch %></td>
          <td><b>Publikationsart</b></td>
          <td><%= @buch.publikationsart %></td>
        </tr>
        <tr>
          <td rowspan="2"><b>Weitere Autoren</b></td>
          <td colspan="5"><%= @buch.hrsg%></td>
        </tr> 
        <tr>
          <td colspan="5"><%= @buch.hrsg_japanisch %></td>
        </tr>
        <tr>
          <td rowspan="2"><b>Titel</b></td>
          <td colspan="5"><%= @buch.titel %></td>
        </tr>
        <tr>
          <td colspan="5"><%= @buch.titel_japanisch %></td>
        </td>
        <tr>
          <td><b>Verlag</b></td>
          <td colspan="3"><%= @buch.verlag %></td>
          <td colspan="2"><%= @buch.verlag_japanisch %></td>
        </tr>
        <tr>
          <td><b>Ort</b></td>
          <td><%= @buch.ort %></td>
          <td><b>Seiten</b></td>
          <td><%= @buch.seiten %></td>
          <td><b>Format</b></td>
          <td><%= @buch.format %></td>
        </tr>
        <tr>
          <td><b>Jahr</b></td>
          <td><%= @buch.jahr %></td>
          <td><b>Auflage</b></td>
          <td><%= @buch.auflage %></td>
          <td><b>Bände</b></td>
          <td><%= @buch.baende %></td>
        </tr>
        <tr>
          <td><b>ISBN</b></td>
          <td colspan="2"><%=@buch.isbn %></td>
          <td><b>ISSN</b></td>
          <td colspan="2"><%=@buch.issn %></td>
        </tr>
        <tr>
          <td rowspan="2"><b>Reihe</b></td>
          <td colspan="5"><%= @buch.reihe %></td>
        </tr>
        <tr>
          <td colspan="5"><%= @buch.reihe_japanisch %></td>
        </tr>
        <tr>
          <td><b>Inhalt</b></td>
          <td colspan="5"><%= @buch.inhalt %></td>
        </tr>
        <tr>
          <td><b>Anmerkungen</b></td>
          <td colspan="5"><%= @buch.anmerkungen %></td>
        </tr>
        <tr> 
          <td><b>Nacsis-URL</b></td>
          <td colspan="5"><%=@buch.nacsis_url %></td>
        </tr>
        <tr>
          <td><b>Nacsis-Eintrag</b></td>
          <td colspan="5"><%= @buch.nacsis_japanisch %></td>
        </tr>
        <tr>
          <td><b>Sprache</b></td>
          <td><%= @buch.sprache %></td>
          <td><b>Preis</b></td>
          <td><%= @buch.preis %></td>
          <td><b>Inventarnummer</b></td>
          <td><%= @buch.invent%></td>
        </tr>
        <tr>
          <td><b>Bearbeiter</b></td>
          <td><%= @buch.bearbeiter %></td>
          <td><b>Datum</b></td>
          <td colspan="2"><%= @buch.created_at %></td>
        </tr>
      </table>
      <%= render(:partial => "files", :locals => {:attachments => @attachments, :attachment => @attachment })%> 
      <div class="wat-cf">
        <% if can? :manage, @buch %>
          <%= link_to image_tag("web-app-theme/icons/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}") + " " + t("web-app-theme.edit", :default=> "Edit"), edit_buch_path(@buch), :class => "button" %> 
          <%= link_to image_tag("web-app-theme/icons/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}") + " " + t("web-app-theme.delete", :default => "Delete"), buch_path(@buch), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
        <% end %>
      </div>      
    </div>
  </div>
</div>
<% if can? :manage, @buch %>
  <% content_for :sidebar, render(:partial => 'book_internal_data') %>
<% end %>
