<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "#{t("web-app-theme.list", :default => "List")}", buches_path  %></li>
      <% if can? :create, Buch %>
        <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_buch_path %></li>
      <% end %>
      <li class="active"><%= link_to "#{t("web-app-theme.show", :default => "Show")}", buch_path %></li>
    </ul>
  </div>          
  <div class="content">
    <div class="inner">
      <table class="table">
        <tr><td><b>Signatur</b></td><td><%= @buch.signatur %></td>
            <td><b>Nebensignatur<br />Bandzählung</b></td><td><%=@buch.nebensignatur%></td>
            <td><b>Stifter</b></td><td><%= @buch.stifter %></td>
        </tr>
        <tr><td rowspan="2"><b>Autor</b></td>
            <td colspan="3"><%= @buch.autor %></td>
            <td><b>Standort</b></td>
            <td><%= @buch.standort %></td>
        </tr>
        <tr>
          <td colspan="3"><%= @buch.autor_japanisch %></td>
          <td><b>Publikationsart</b></td>
          <td><%= @buch.publikationsart %></td>
        </tr>
        <tr>
          <td rowspan="2"><b>Weitere Autoren</b></td>
          <td colspan="5"><%= @buch.hrsg%></td>
        </tr> 
        <tr>
          <td colspan="5"><%= @buch.hrsg_japanisch %></td>
        </tr>
        <tr>
          <td rowspan="2"><b>Titel</b></td>
          <td colspan="5"><%= @buch.titel %></td>
        </tr>
        <tr>
          <td colspan="5"><%= @buch.titel_japanisch %></td>
        </td>
        <tr>
          <td><b>Verlag</b></td>
          <td colspan="3"><%= @buch.verlag %></td>
          <td colspan="2"><%= @buch.verlag_japanisch %></td>
        </tr>
        <tr>
          <td><b>Ort</b></td>
          <td><%= @buch.ort %></td>
          <td><b>Seiten</b></td>
          <td><%= @buch.seiten %></td>
          <td><b>Format</b></td>
          <td><%= @buch.format %></td>
        </tr>
        <tr>
          <td><b>Jahr</b></td>
          <td><%= @buch.jahr %></td>
          <td><b>Auflage</b></td>
          <td><%= @buch.auflage %></td>
          <td><b>Bände</b></td>
          <td><%= @buch.baende %></td>
        </tr>
        <tr>
          <td><b>ISBN</b></td>
          <td colspan="2"><%=@buch.isbn %></td>
          <td><b>ISSN</b></td>
          <td colspan="2"><%=@buch.issn %></td>
        </tr>
        <tr>
          <td rowspan="2"><b>Reihe</b></td>
          <td colspan="5"><%= @buch.reihe %></td>
        </tr>
        <tr>
          <td colspan="5"><%= @buch.reihe_japanisch %></td>
        </tr>
        <tr>
          <td><b>Inhalt</b></td>
          <td colspan="5"><%= @buch.inhalt %></td>
        </tr>
        <tr>
          <td><b>Anmerkungen</b></td>
          <td colspan="5"><%= @buch.anmerkungen %></td>
        </tr>
        <tr> 
          <td><b>Nacsis-URL</b></td>
          <td colspan="5"><%=@buch.nacsis_url %></td>
        </tr>
        <tr>
          <td><b>Nacsis-Eintrag</b></td>
          <td colspan="5"><%= @buch.nacsis_japanisch %></td>
        </tr>
        <tr>
          <td><b>Sprache</b></td>
          <td><%= @buch.sprache %></td>
          <td><b>Preis</b></td>
          <td><%= @buch.preis %></td>
          <td><b>Inventarnummer</b></td>
          <td><%= @buch.invent%></td>
        </tr>
        <tr>
          <td><b>Bearbeiter</b></td>
          <td><%= @buch.bearbeiter %></td>
          <td><b>Datum</b></td>
          <td colspan="2"><%= @buch.created_at %></td>
        </tr>
      </table>
      <% unless @attachments.empty? %>
        <h2>Dateien</h2>
        <table class="table">
        <% @attachments.each do |attachment| %>
          <tr>
            <td><%= attachment.klass %></td>
            <td><%= attachment.content_url%></td>
            <td><%= link_to "Download", attachment.content_url %>
            <% if can? :destroy, attachment %>
              <%= link_to "#{t("web-app-theme.delete", :default => "Delete")}", attachment_path(attachment), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
            </td>
        <% end %>
        <% end %>
        </table>
      <% end %>
      <% if can? :create, @attachment %>
        <div class="block">
          <div class="inner">
            <%= simple_form_for @attachment, :html => {:class => "form", :multipart => true} do |f|%>
              <div class="group">
                <%= f.label :content, t("attachment.content"),:class => :label %> 
                <%= f.file_field :content , :class => "file_field"%> <br />
              </div>
              <div class="group">
                <%= f.label :remote_content_url, t("attachment.remote_url"),:class => :label %> 
                <%= f.text_field :remote_content_url , :class => "text_field"%> <br />
              </div>
              <%= f.hidden_field :buch_id %>
              <div class="group">
                <%= f.input :klass, :collection => ["open", "restricted"],:as => :radio,  :label => t("attachment.klass"), :label_html => {:class => "label"} %>
              </div>
              <div class="group navform wat-cf">
                <button class="button" type="submit">
                  <%= image_tag("web-app-theme/icons/tick.png", :alt => "#{t("upload", :default => "Upload")}") %> <%= t("upload", :default => "Upload") %>
                </button>  
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
      
      <div class="wat-cf">
        <% if can? :manage, @buch %>
          <%= link_to image_tag("web-app-theme/icons/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}") + " " + t("web-app-theme.edit", :default=> "Edit"), edit_buch_path(@buch), :class => "button" %> 
          <%= link_to image_tag("web-app-theme/icons/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}") + " " + t("web-app-theme.delete", :default => "Delete"), buch_path(@buch), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
        <% end %>
      </div>      
    </div>
  </div>
</div>
<% if can? :manage, @buch %>
  <% content_for :sidebar, render(:partial => 'book_internal_data') %>
<% end %>
