<p id="notice"><%= notice %></p>
<p>
  <%= link_to "Buch verleihen", new_lending_path(:buch_id => @buch.id) %>
</p>

<p>
  <b>Titel:</b>
  <%= @buch.titel %>
</p>

<p>
  <b>Autor:</b>
  <%= @buch.autor %>
</p>

<p>
  <b>Hrsg:</b>
  <%= @buch.hrsg %>
</p>

<p>
  <b>Signatur:</b>
  <%= @buch.signatur %>
</p>

<p>
  <b>Jahr:</b>
  <%= @buch.jahr %>
</p>

<p>
  <b>Kommentar:</b>
  <%= @buch.kommentar %>
</p>

<p>
  <b>Anmerkungen:</b>
  <%= @buch.anmerkungen %>
</p>

<p>
  <b>Auflage:</b>
  <%= @buch.auflage %>
</p>

<p>
  <b>Baende:</b>
  <%= @buch.baende %>
</p>

<p>
  <b>Bearbeiter:</b>
  <%= @buch.bearbeiter %>
</p>

<p>
  <b>Bestelladresse:</b>
  <%= @buch.bestelladresse %>
</p>

<p>
  <b>Drehbuch:</b>
  <%= @buch.drehbuch %>
</p>

<p>
  <b>Format:</b>
  <%= @buch.format %>
</p>

<p>
  <b>Inhalt:</b>
  <%= @buch.inhalt %>
</p>

<p>
  <b>Sprache:</b>
  <%= @buch.sprache %>
</p>

<p>
  <b>Literaturvorlage:</b>
  <%= @buch.literaturvorlage %>
</p>

<p>
  <b>Nebensignatur:</b>
  <%= @buch.nebensignatur %>
</p>

<p>
  <b>Ort:</b>
  <%= @buch.ort %>
</p>

<p>
  <b>Platz:</b>
  <%= @buch.platz %>
</p>

<p>
  <b>Preis:</b>
  <%= @buch.preis %>
</p>

<p>
  <b>Publikationsart:</b>
  <%= @buch.publikationsart %>
</p>

<p>
  <b>Reihe:</b>
  <%= @buch.reihe %>
</p>

<p>
  <b>Seiten:</b>
  <%= @buch.seiten %>
</p>

<p>
  <b>Stifter:</b>
  <%= @buch.stifter %>
</p>

<p>
  <b>Verlag:</b>
  <%= @buch.verlag %>
</p>

<p>
  <b>Standort:</b>
  <%= @buch.standort %>
</p>

<p>
  <b>Datensatz:</b>
  <%= @buch.datensatz %>
</p>

<p>
  <b>Aufnahmedatum:</b>
  <%= @buch.aufnahmedatum %>
</p>

<p>
  <b>Issn:</b>
  <%= @buch.issn %>
</p>

<p>
  <b>isbn:</b>
  <%= @buch.isbn %>
</p>

<p>
  <b>Invent:</b>
  <%= @buch.invent %>
</p>

<p>
  <b>Autor japanisch:</b>
  <%= @buch.autor_japanisch %>
</p>

<p>
  <b>Hrsg japanisch:</b>
  <%= @buch.hrsg_japanisch %>
</p>

<p>
  <b>Drehbuch japanisch:</b>
  <%= @buch.drehbuch_japanisch %>
</p>

<p>
  <b>Reihe japanisch:</b>
  <%= @buch.reihe_japanisch %>
</p>

<p>
  <b>Titel japanisch:</b>
  <%= @buch.titel_japanisch %>
</p>

<p>
  <b>Verlag japanisch:</b>
  <%= @buch.verlag_japanisch %>
</p>

<p>
  <b>Literaturvorlage japanisch:</b>
  <%= @buch.literaturvorlage_japanisch %>
</p>

<p>
  <b>Nacsis japanisch:</b>
  <%= @buch.nacsis_japanisch %>
</p>

<p>
  <b>Jid:</b>
  <%= @buch.jid %>
</p>

<p>
  <b>Nacsis url:</b>
  <%= @buch.nacsis_url %>
</p>

<p>
  <b>Interne notizen:</b>
  <%= @buch.interne_notizen %>
</p>


<%= link_to 'Edit', edit_buch_path(@buch) %> |
<%= link_to 'Back', buches_path %>
